// mixin table
// ================
//
// @mixin table
// @mixin table-sm
// @mixin table-bordered
// @mixin table-striped
// @mixin table-hover

@mixin table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg;

  @media (max-width: map-get($grid-breakpoints, medium)) {
    display: block;
    overflow-x: auto;
  }
  caption {
    padding: $table-cell-padding;
    text-align: left;
    color: $table-caption-color;
    width: 100%;
  }

  th {
    text-align: left;
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
    color: $table-color;
  }

  thead th, .thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
    background-color: $table-head-bg;
    color: $table-head-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

}

// Zebra-striping
// --------------
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

@mixin table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}

// Hover effect
// ------------

@mixin table-hover {
  tbody tr {
    @include hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}
