//
// Modals
// --------------------------------------------------

// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit


@keyframes modal-overlay{
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/* needed for old browsers */
dialog {
  display: block;
  border: 0;
  padding: 0;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

/* overlay covers everything */
#js-modal-overlay {
  animation: modal-overlay ease .5s 1 normal;
  background-color: rgba(0,0,0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 666;

  .invisible{
    opacity: 0;
  }
}

/* modal */
.modal {
  bottom: 0;
  left: 0;
  margin: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 667;
}

dialog.modal {
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  background-color: $modal-content-bg;
  border-radius: $border-radius-lg;
  border: 1px solid $modal-content-border-color;
  // Remove focus outline from opened modal
  outline: 0;
}

.modal-template{
  display: none;
}

.modal__wrapper{
  overflow-x: hidden;
  overflow-y: auto;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-title-padding;
  border-bottom: 1px solid $modal-header-border-color;
}

// Close icon
.modal-close {
  font-size: ($font-size-base * 1.5);
  font-weight: $modal-close-font-weight;
  line-height: 1;
  color: $modal-close-color;
  padding: $modal-close-padding;
  position: absolute;
  right: $modal-title-padding;
  top: $modal-title-padding;
  margin-top: -5px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: map-get($grid-breakpoints, small)) {
  // Automatically set modal's width for larger viewports
  .modal {
    width: $modal-md;
    margin: 30px auto;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}

@media (min-width: map-get($grid-breakpoints, medium)) {
  .modal-lg { width: $modal-lg; }
}
