// Pagination
// ==========================================================

$page-link-color        : $body-color !default;
$page-link-bg           : transparent !default;
$page-link-border       : $primary-color !default;

$page-link-color-focus  : #fff !default;
$page-link-bg-focus     : $primary-color !default;

$page-link-active-color : $page-link-color-focus !default;
$page-link-active-bg    : $page-link-bg-focus !default;

$page-item-prev-icon    : "\2039" !default;
$page-item-next-icon    : "\203A" !default;

// styles
@import "style-pagination";

